<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de Agendamentos</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
</head>
<body>
<div class="container">
    <div class="dashboard">
        <h2>Dashboard de Agendamentos</h2>
        <label for="profissionaisDropdown">Selecione um profissional:</label>
        <select id="profissionaisDropdown">
            <option value="">-- Selecione um profissional --</option>
        </select>
    </div>

    <div class="busca">
        <h2>Buscar Agendamentos</h2>
        <label for="dataInicio">Data Início:</label>
        <input type="date" id="dataInicio">

        <label for="dataFim">Data Fim:</label>
        <input type="date" id="dataFim">

        <label for="statusFiltro">Status:</label>
        <select id="statusFiltro">
            <option value="">Todos</option>
            <option value="Pendente">Pendente</option>
            <option value="Confirmado">Confirmado</option>
            <option value="Cancelado">Cancelado</option>
            <option value="Reagendado">Reagendado</option>
        </select>



        <label for="origemFiltro">Como Chegou na Clínica:</label>
        <select id="origemFiltro">
            <option value="">Todas as Origens</option>
            <option value="Instagram">Instagram</option>
            <option value="Facebook">Facebook</option>
            <option value="Site do Dentista">Site do Dentista</option>
            <option value="Outros">Outros</option>
        </select>

<!--        <label for="profissionaisDropdown">Selecione um profissional:</label>-->
<!--        <select id="profissional">-->
<!--            <option value="">&#45;&#45; Selecione um profissional &#45;&#45;</option>-->
<!--        </select>-->



        <button id="filtroAgendamentos">Buscar Agendamentos</button>
    </div>
</div>

<div class="agendamentos-section">
    <div class="agendamentos" id="agendamentosPendentes">
        <h3>Agendamentos Pendentes:</h3>
    </div>
    <div class="agendamentos" id="agendamentosProcessados">
        <h3>Agendamentos Processados:</h3>
    </div>
</div>

<div id="mensagemSemAgendamentos" style="display: none;">Nenhum agendamento encontrado.</div>

<table id="resultadosBusca">
    <thead>
    <tr>
        <th>Paciente</th>
        <th>Data</th>
        <th>Hora</th>
        <th>Profissional</th>
        <th>Status</th>
        <th>Origem</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script src="/static/javascript/dashboard.js"></script>
</body>
</html>

este codigo