<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Dashboard da Clínica</title>
</head>
<body>
<h1>Bem-vindo à Dashboard da Clínica</h1>
<nav>
    <ul>
        <li><a href="Agendamento.html">Agendamento</a></li>
        <li><a href="Profissionais.html">Cadastro de Profissionais</a></li>
    </ul>
</nav>

<h2>Agendamentos Pendentes</h2>
<ul id="lista-agendamentos"></ul>

<script src="dashboard.js"></script>
</body>
</html>
