* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dashboard, .busca {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 48%;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

select, input[type="date"], button {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.agendamentos-section {
    display: flex;
    justify-content: space-between;
}

.agendamentos {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 48%;
}

.agendamento {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.agendamento.pendente {
    border-left: 5px solid #007BFF;
}

.agendamento.confirmado {
    border-left: 5px solid #28a745;
}

.agendamento.cancelado {
    border-left: 5px solid #dc3545;
}

.agendamento.reagendado {
    border-left: 5px solid #ffc107;
}

#mensagemSemAgendamentos {
    margin-top: 20px;
    font-size: 18px;
    color: red;
    text-align: center;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #007BFF;
    color: white;
}
